<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oh no!</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body class="no-page">
    <h1>9olt le :(</h1>
    <div class="animation-container">
        <img
          src="{{ url_for('static', filename='last-day-of-school.gif') }}"
          alt="Cute Dancing Cat"
        />
    
  
        <p>
      mzlt tnjm t9oul ey ( go back to the main page and try the 'yes' button )
    </p>
  </body>
</html>
